<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Boinc @ TheChels</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
            content="BOINC is a platform that allows computers all round the world to contribute their spare computing capacity to run distributed applications.">
        <meta name="keywords" content="BOINC, TheChels, distributed computing, Rosetta, World Community Grid">
        <meta name="author" content="TheChels.org">
        <meta name="robots" content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no">
        <meta name="format-detection" content="address=no">
        <meta name="HandheldFriendly" content="True">
        <meta name="theme-color" content="#005CA3">
        <meta name="robots" content="index,follow">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta name="apple-mobile-web-app-title" content="Mat B">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="default">
        <link rel="stylesheet" href="style.css">
        <link href="fonts/TheChelsLight.woff" rel="preload" crossorigin as="font" type="font/woff">
        <link href="fonts/TheChelsMedium.woff" rel="preload" crossorigin as="font" type="font/woff">
    </head>

    <body>
        <div id="outer-wrapper">
            <div id="wrapper">
                <header id="header">
                    <ul class="skip-link-ul">
                        <li>
                            <a href="#main" class="skip-link">Skip to main content</a>
                        </li>
                    </ul>
                    <div class="blog-title">
                        BOINC
                    </div>
                    <div class="blog-image"></div>
                    <p class="blog-slogan">
                        // One Step Beyond.
                    </p>
                </header>
                <div id="main" class="content">
                    <h1 class="post-title">BOINC @ TheChels</h1>
                    {{ content }}
                </div>
    </body>

</html>
